<h5 class="header">Stock</h5>
<div class="card mb-3 table">
  <table class="card-body table">
    <thead>
      <tr style="text-align: center;">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Available stock</th>
        <th>Stock location</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" style="text-align: center;" *ngFor="let stocks of stockListFinal">
        <td>{{stocks.product_id}}</td>
        <td>{{stocks.product_name}}</td>
        <td>{{stocks.avail_stock}}</td>
        <td>{{stocks.stock_location}}</td>
      </tr>
      <!-- <tr class="table-active" style="text-align: center;" >
        <td>0001</td>
        <td>xxx</td>
        <td>100</td>
      </tr> -->
    </tbody>
  </table>
</div>